#title{
    color:white;
}

#footer{
    color:white;
}

#Planet_name{
    color:white;
}

#Starships_name{
    color:white;
}

#People_name{
    color:white;
}

#Vehicles_name{
    color:white;
}

#Film_title{
    color:white;
}

#Specie_name{
    color:white;
}

.card {
    position: relative;
    transition: transform 0.2s;
    -webkit-box-shadow: -2px 9px 46px -14px rgba(255,255,255,1);
    -moz-box-shadow: -2px 9px 46px -14px rgba(255,255,255,1);
    box-shadow: -2px 9px 46px -14px rgba(255,255,255,1);
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}